{% extends "index.html" %}
{% block title %}vanilaworld - Терминал{% endblock %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.min.js"></script>
    <link rel="stylesheet" href="/static/styles/terminal.css">
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();
            const term = new Terminal({
                theme: {
                    background: '#252525',  // Светло-серый
                    foreground: '#AAAAAA',  // Темно-серый текст
                    cursor: '#252525'       // Цвет курсора
                }
            });
            const fitAddon = new FitAddon.FitAddon();
            
            term.loadAddon(fitAddon);
            term.open(document.getElementById('terminal'));
            fitAddon.fit();

            // Обработка подключения
            socket.on('connect', () => {
                socket.emit("term-client-history", '{{ id }}');
                socket.emit("term-init", "{{ id }}");
            });
            function add_message(text){
                term.write(text)
            }
            // Обработка сообщений от сервера
            socket.on('term-server-history', (console) => {
                const terminal = console.split("\n");

                for(var message in terminal){
                    add_message(terminal[message])
                }
            });

            // Обработка сообщений от сервера
            socket.on('term-server-msg', (data) => {
                console.log(data);
                if (data['id'] == "{{ id }}")
                    add_message(data["message"]);
            });

            // Обработка информации о сервере
            socket.on('term-server-info', (data) => {
                console.log(data);
                document.getElementById("cpu").textContent = `${data.cpu}`;
                document.getElementById("ram").textContent = `${data.ram}`;
                document.getElementById("mem").textContent = `${data.mem}`;
                if (data.status){
                    document.getElementById("switch_btn").textContent = "Стоп";
                    document.getElementById("status").textContent = "Запущен";
                } else {
                    document.getElementById("switch_btn").textContent = "Старт";
                    document.getElementById("status").textContent = "Выключен";
                }
            });

            // Отправка сообщения на сервер
            document.getElementById('send').addEventListener('click', sendCommand);

            document.getElementById('switch_btn').addEventListener('click', () => {
                socket.emit('term-client-run', '{{ id }}');
            });

            document.getElementById('kill_btn').addEventListener('click', () => {
                socket.emit('term-client-kill', '{{ id }}');
            });

            // Обработка нажатия Enter в поле ввода
            document.getElementById('message').addEventListener('keypress', (e) => {
                if(e.key === 'Enter') {
                    sendCommand();
                }
            });

            function sendCommand() {
                const message = document.getElementById('message').value;
                if(message.trim()) {
                    socket.emit('term-client-msg', {data: message, id: '{{ id }}'});
                    document.getElementById('message').value = '';
                }
            }
        });
    </script>
{% endblock %}
{% block menu %}
    <div class="leftmenu">
        <a>Терминал</a>
        <a href="/explorer/{{ id }}">Файлы</a>
    </div>
{% endblock %}
{% block body %}
    <div class="block" style="height: 750px">
        <div class="terminal-container">
            <div class="terminal-header">
                <h1>Серверная консоль</h1>
                <div class="header-buttons">
                    <button id="switch_btn" class="button">Старт</button>
                    <button id="kill_btn" class="button">Убить</button>
                </div>
            </div>

            <div class="server-stats">
                <div class="stat-item">
                    <div class="stat-label">Адрес</div>
                    <div class="stat-value" id="ip">{{ config.ip }}:{{ server.port }}</div>
                </div>
                <div class="stat-item">
                    <div class="stat-label">ОЗУ</div>
                    <div class="stat-value" id="ram">?</div>
                </div>
                <div class="stat-item">
                    <div class="stat-label">ЦП</div>
                    <div class="stat-value" id="cpu">?</div>
                </div>
                <div class="stat-item">
                    <div class="stat-label">ПЗУ</div>
                    <div class="stat-value" id="mem">?</div>
                </div>
                <div class="stat-item">
                    <div class="stat-label">Статус</div>
                    <div class="stat-value" id="status">?</div>
                </div>
            </div>

            <div id="terminal" class="block"></div>

            <div class="terminal-input">
                <div class="input-row" style="width: -webkit-fill-available;">
                    <input type="text" id="message" class="entry" placeholder="Введите команду..." style="flex-grow: 1;">
                    <button id="send" class="button">Отправить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}